:root {

    /* colors */

    --white-transparent: hsla(0, 0%, 100%, 0.25);

    /* components */

    --clr-overlay: var(--white-transparent);

    /* font size */

    --fs-500: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 2.25rem;

    /* font weight */

    --fw-regular: 400;
    --fw-bold: 700;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* styling */

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 90%;
    margin-inline: auto;
    padding: 0 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
}

.navbar .left {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
}

.navbar .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.navbar .right a {
    color: black;
    text-decoration: none;
}

.navbar .right a:hover {
    color: black;
    text-decoration: underline;
}

.navbar .right img {
    display: inline;
    width: 24px;
    height: 24px;
}

.navbar .hamburger {
    display: none;
    height: 50px;
    width: 50px;
}

.navbar .bar {
    background-color: black;
    border-radius: 10px;
    height: 4px;
    width: 36px;
    margin: 3px;
}

.project-grid {
    display: grid;
    width: 100%;
    grid-gap: 1rem;
    grid-template-areas:
        'eth eth alphabet'
        'eth eth traveler'
        'cube astro traveler'
        'cup insta insta'
        'cup insta insta'
        'foam foam dimensional'
        'foam foam dimensional';
}

.project {
    position: relative;
}

.project img {
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    background-color: var(--clr-overlay);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
    opacity: 0;
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
    letter-spacing: 2px;
    transition: all 100ms ease-in;
}

.overlay:hover {
    cursor: pointer;
    opacity: 1;
}

.project .white {
    color: white;
}

#eth {
    grid-area: eth;
}

#alphabet {
    grid-area: alphabet;
}

#traveler {
    grid-area: traveler;
}

#cube {
    grid-area: cube;
}

#astro {
    grid-area: astro;
}

#cup {
    grid-area: cup;
}

#insta {
    grid-area: insta;
}

#foam {
    grid-area: foam;
}

#dimensional {
    grid-area: dimensional;
}

.footer {
    padding: 4rem;
    text-align: center;
}

@media only screen and (max-width: 1100px) {

    .container {
        max-width: 100%;
    }

    .project-grid {
        max-width: 100%;
        grid-template-areas:
            'eth eth'
            'alphabet traveler'
            'cube astro'
            'insta insta'
            'cup foam'
            'dimensional dimensional';
    }
}

@media only screen and (max-width: 768px) {

    .navbar {
        position: fixed;
        background-color: white;
        width: 100%;
        top: 0;
        left: 0;
        padding: 1rem;
        z-index: 2;
    }

    .navbar .right {
        display: none;
    }

    .navbar .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-grid {
        max-width: 100%;
        margin-top: 100px;
        grid-template-areas:
            'eth eth'
            'alphabet alphabet'
            'traveler traveler'
            'cube astro'
            'insta insta'
            'cup cup'
            'foam foam'
            'dimensional dimensional';
    }

    .project .overlay {
        font-size: var(--fs-500);
    }

    @keyframes flipBar1 {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(45deg) translate(4px, 10px);
        }
    }

    @keyframes fadeBar2 {

        from {
            transform: scaleX(1);
            opacity: 1;
        }

        to {
            transform: scaleX(0);
            opacity: 0;
        }

    }

    @keyframes flipBar3 {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(-45deg) translate(4px, -10px);
        }
    }
}